<?xml version="1.0"?>
<!--
/**
 * Copyright © Pushketing. All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="pushketing" xsi:type="string">Pushketing_Pushketing</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="pushketing/pushketing_app/pushketing_token" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
</config>